.weather-container {

    text-align: center;
  
    margin-top: 50px;
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    color: #f9f9f9;
  
  }
   
  input {
  
    padding: 10px;
  
    margin-right: 10px;
  
    border-radius: 15px;
  
    border: 1px solid #ccc;
  
  }
   
  button {
  
    padding: 10px;
  
    border-radius: 20px;
  
    background-color: #007bff;
  
    color: white;
  
    border: none;
  
    cursor: pointer;
  
  }
   
  button:hover {
  
    background-color: #0056b3;
  
  }
  .weather-details h2{
    font-size: 50px;

    color: rgb(8, 3, 51);
    
    font-family:Georgia, 'Times New Roman', Times, serif;

  }
   
  .weather-details p {
  
    display: flex;
   
    justify-content: center;
  
    text-align: left;
    
    color:rgb(35, 35, 105);
    
    font-size: 20px;

}
   
  